.jumbotron {
	background-color:royalblue ;
	color:white ;
}
.footer {
	padding: 10px 10px 0 10px ;
	background-color:lightcoral;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-hotel{
	flex: 1 250px;
	padding: 2px 5px 2px 5px ;

	
}
.btn-reserva{
	width: 100%;
	position: relative;
	left: 0;
	bottom: 0;
}